@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */

.container {
  display: flex;
  padding: 100px 0;
  gap: 82px;
  height: 890px;
  margin: 141px 100px;
}

.infoProduct {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "EB Garamond", serif;
  font-size: 64px;
  /* line-height: 34px; */
  color: #354733;
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #afb2aa;
  margin-bottom: 24px;
}

.labels {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
}

.labels p {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  color: #158212;
  padding: 7px 13px;
  border-radius: 20px;
  background-color: #f6fff6;
  border: 1.8px solid #83e281;
}

.price {
  font-family: "Lato";
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 24px;
}

.button {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 300;
  width: 191px;
  height: 62px;
  background-color: #354733;
  color: #fff;
  border: none;
  margin-bottom: 24px;
}

.features,
.description {
  margin-bottom: 24px;
}

.features h3,
.description h3 {
  font-family: "Lato";
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.features ul {
  list-style-type: none;
}

.features ul li {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 25px;
  position: relative;
  padding-left: 20px;
  color: #000000;
}

.features ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 48%;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background-color: #000000;
  border-radius: 50%;
}

.description p {
  font-family: "Raleway";
  font-size: 16px;
  width: 698px;
  line-height: 25px;
  color: #000000;
}

/* .features ul {
}

.features ul li {
  font-family: "Raleway";
  font-size: 16px;
  color: #000000;
} */
