.container {
    display: flex;
    gap: 106px; /* Espaçamento entre colunas */
    padding: 80px;
    align-items: center;
    background-color: #FCFCFC;
  }
  
  .imageWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    height: 697px;
    width: 440px;
    object-fit: cover;
  }
  
  .ImageUpperText{
   width: 440px;
   height: 172px;
   margin-top: 0; /* Remove qualquer margem superior */
   align-self: stretch;
   opacity: 0.9;
  }
  
  .textSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    width: 440px;
    height: 700px;
    flex: 1 0 0;
  }
  
  .textSection p {
    color: #808276;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    align-self: start;
    width: 440px;
    font-family: 'raleway', sans-serif;
    color: var(--Secondary-Secondary, #808276);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 174.188%; /* 27.87px */
    letter-spacing: 0.08px;
  }
  
  .button {
    width: 191px;
    height: 60px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background: var(--Primary-Lunar-green, #354733);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    max-width: 200px;
    color: var(--white, #FCFCFC);
    text-align: center;
    /* secondary/Secondary */
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 154.5%; /* 24.72px */
  }
  
  .button:hover {
    background-color: #3a4b35;
  }
  
  @media (max-width: 1732px) {
    .container {
      width: 1732px;
    }
    
  }
  @media (max-width: 1024px) {
    .container{
      flex-direction: column;
      width: 1024px;
      padding: 300px;
    }

    .image {
      height: 200px;
      width: 100%;
      object-fit: cover;
      
      
    }

  

    .textSection {
      height: auto;
    }
}



/* Responsividade para telas menores que 768px (tablets) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
        align-items: center;
    }

    .image {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .imageWrapper{
        gap: 10px;
        
    }
    .textSection {
        width: 100%;
        height: auto;
    }
}

/* Responsividade para telas menores que 480px (smartphones) */
@media (max-width: 480px) {
    .container {
        padding: 5px;
        width: 1732px;
    }
   
    .image {
        height: auto;
        width: 100%;
    }

    .textSection p {
        font-size: 14px;
    }

    .button {
        width: 100%;
        height: auto;
        padding: 15px;
    }
}
